<footer class="footer">
    <div class="container">
        <div class="footer__inner ">
            <h3 class="footer__headline ">
                Learn how to meet
                the prettiest women
            </h3>
            <p class="footer__content">
                Join our community and stay updated with the latest reviews, comparisons, deals and special offers.
            </p>
            <form action="" class="footer__form">
                <input type="email" class="footer__mail" placeholder="Please enter your email here">
                <button class="footer__btn">
                    Subscribe
                </button>
            </form>
        </div>
    </div>
    <div class="footer__footer">
        <div class="container container--row">
            <div class="footer__box col-2">
                <p class="footer__reserved">
                    2018. All rights reserved
                </p>
            </div>
            <nav class="footer__nav col-8">
                <a href="#" class="footer__link">
                    About us
                </a>
                <a href="#" class="footer__link">
                    Contuct us
                </a>
                <a href="#" class="footer__link">
                    Advertiser disclosure
                </a>
                <a href="#" class="footer__link">
                    Terms of use
                </a>
                <a href="#" class="footer__link">
                    Privacy policy
                </a>
            </nav>
        </div>
    </div>
</footer>